@import "_reset.scss";
@import "_variables-&-mixin.scss";

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 48px;
  .logo {
    height: 40px;
    margin: 24px 0px 0px 24px;
  }
  .container__hr {
    display: none;
    hr {
      width: 473px;
    }
  }
  .menu__burger {
    height: 21px;
    width: 24px;
    margin: 33px 24px 0px 0px;
  }
  .navbar {
    &__mobile {
      position: absolute;
      top: 0px;
      right: -300px;
      height: 100vh;
      width: 254px;
      backdrop-filter: blur(10px);
      background-color: #ffffff 4%;
      display: none;
      &.open {
        right: 0px;
        display: block;
      }
    }

    &__desktop {
      display: none;
      @include responsive-desktop {
        display: flex;
      }
      @include responsive-tablet {
      }
    }
  }
}
