@import "_variables-&-mixin.scss";

.container__technology {
  animation: fade-in 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include responsive-desktop {
    align-items: start;
  }
  h5 {
    margin-bottom: 32px;
    font-size: 16px;
    font-family: $font2;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    span {
      color: rgba(255, 255, 255, 0.247);
    }
    @include responsive-desktop {
      font-size: 28px;
      letter-spacing: 5px;
      margin-bottom: 26px;
      width: 1110px;
      align-self: center;
    }
  }
  &__info {
    width: 100%;
    @include responsive-desktop {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 60px;
      column-gap: 130px;
    }
    &__mobile {
      width: 100%;
      margin-bottom: 34px;
      @include responsive-desktop {
        display: none;
      }
    }
    &__desktop {
      display: none;
      @include responsive-desktop {
        display: block;
      }
    }
    &__navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include responsive-desktop {
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        margin-top: 111px;
        width: 632px;
      }
      &__navbar {
        margin-bottom: 26px;
        ul {
          display: flex;
          @include responsive-desktop {
            flex-direction: column;
            margin-right: 80px;
          }

          li {
            height: 40px;
            width: 40px;
            border: 1px solid white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            @include responsive-desktop {
              margin: 0px 0px 32px 0px;
              height: 80px;
              width: 80px;
              font-size: 32px;
            }
            &:hover {
              background-color: white;
              a {
                color: black;
              }
            }
            &:last-child {
              margin-right: 0px;
            }
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
      &__data {
        text-align: center;
        @include responsive-desktop {
          text-align: left;
        }
        &__subtitle {
          font-size: 14px;
          font-family: $font2;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin-bottom: 9px;
          color: $colorFont;
          @include responsive-desktop {
            margin-bottom: 11px;
          }
        }
        h3 {
          font-size: 24px;
          text-transform: uppercase;
          margin-bottom: 16px;
          @include responsive-desktop {
            margin-bottom: 17px;
            font-size: 56px;
          }
        }
        &__description {
          font-size: 15px;
          font-family: $font3;
          line-height: 25px;
          width: 327px;
          margin-bottom: 104px;
          color: $colorFont;
          @include responsive-desktop {
            font-size: 18px;
            line-height: 32px;
            width: 444px;
          }
        }
      }
    }
  }
}
